<%- include('partials/header') %>

<main>
  
  <%- include('partials/cta') %>

  <i class="fas fa-chevron-down"></i>

  <%- include('partials/announcements') %>

  <i class="fas fa-chevron-down"></i>

  <%- include('partials/membership-cards') %>

  <i class="fas fa-chevron-down"></i>

  <%- include('partials/sponsors') %>

</main>

<%- include('partials/footer') %>
